<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-5 mt-5 mb-5">
                <img src="https://play-lh.googleusercontent.com/Y6WJnwleYyUaLlmQgBO95FOxSOHk-xez6iOsXtRQoVBpmm1a0psd30n22kQYQ9sRS0w=w240-h480-rw" height="120px" width="120px"/><br>
                <h3>CHATTY!!</h3>
                <p>A new way to connect with your favourite people.</p><br>
                <button routerLink="login">LOGIN</button><br>
                <button routerLink="register">REGISTER</button>

            </div>

        </div>

    </div>

</div>



